      <!-- Footer -->
<footer class="g-bg-secondary">
    <div class="g-brd-bottom g-brd-secondary-light-v2 g-py-50 g-mb-50">
        <div class="container">
            <!-- Footer - Popular Stories Carousel -->
            <!-- End Footer - Popular Stories Carousel -->
        </div>
    </div>

    <div class="container">
        <!-- Footer - Top Section -->
        <div class="g-brd-bottom g-brd-secondary-light-v2 g-mb-30">
            <div class="row align-items-center">
                <div class="col-md-4 g-hidden-sm-down g-mb-30">
                    <!-- Logo -->
                    <LogoComponent />
                    <!-- End Logo -->
                </div>

                <div class="col-md-4 ml-auto g-mb-30">
                    <!-- Social Icons -->
                    <SocialIcons />
                    <!-- End Social Icons -->
                </div>

                <div class="col-md-4 text-center text-md-right g-mb-30">
                    <!-- Subscribe Form -->
                        <SubscriberComponent />
                    <!-- End Subscribe Form -->
                </div>
            </div>
        </div>
        <!-- End Footer - Top Section -->
        <!-- Footer - Bottom Section -->
        <div class="row align-items-center">
            <div class="col-md-2 g-brd-right--md g-brd-secondary-light-v2 g-mb-30">
                <!-- Copyright -->
                <p class="g-color-secondary-light-v1 g-font-size-12 mb-0">&copy; 2023 Planet Ministries</p>
                <!-- End Copyright -->
            </div>

            <div class="col-md-8 g-brd-right--md g-brd-secondary-light-v2 g-mb-30">
                <!-- Links -->
                <LegalLinksComponent />
                <!-- End Links -->
            </div>

            <div class="col-md-2 g-mb-30">
                <!-- Large Button Group -->

                <!-- End Large Button Group -->
            </div>
        </div>
        <!-- End Footer - Bottom Section -->
    </div>
</footer>
<!-- End Footer -->
