      <!-- Header -->
<header id="js-header" class="u-header u-header--static u-shadow-v19">
    <!-- Top Bar -->
    <div class="u-header__section g-brd-bottom g-brd-gray-light-v4 g-py-18">
        <div class="container">
            <div class="row align-items-center">
                <!-- Logo -->                
                <div class="col-md-3 g-hidden-md-down">
                    <LogoComponent />
                </div>
                <!-- End Logo -->
                <!-- Subscribe Form -->
                <div class="col-6 col-md-5">
                    <SearchComponent />
                </div>
                <!-- End Subscribe Form -->
                <!-- Language -->

                <!-- End Language -->
                <!-- Account -->
                <div class="col-1">
                    <LoginDisplay />
                </div>
                <!-- End Account -->
            </div>
        </div>
    </div>
    <!-- End Top Bar -->

    <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
        <nav class="js-mega-menu navbar navbar-expand-lg g-px-0">
            <div class="container g-px-15">
                <!-- Logo -->
                <div class="g-hidden-lg-up">
                    <LogoComponent />
                </div>
                <!-- End Logo -->
                <!-- Responsive Toggle Button -->
                <HorizontalMenu />
                <!-- End Navigation -->
            </div>
        </nav>
    </div>
</header>
<!-- End Header -->