<div class="g-mb-50">
    <div class="u-heading-v3-1 g-mb-30">
        <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">Social Links</h2>
    </div>

    <ul class="list-unstyled mb-0">
        <li class="d-flex align-items-center justify-content-between g-mb-20">
            <a class="d-flex align-items-center u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="#">
                <span class="u-icon-v3 u-icon-size--xs u-shadow-v25 g-font-size-12 g-bg-facebook g-bg-facebook--hover g-color-white rounded-circle g-mr-10" href="#">
                    <i class="fa fa-facebook"></i>
                </span>
                Like
            </a>
            <span class="js-counter d-block g-color-gray-dark-v4">103832</span>
        </li>
        <li class="d-flex align-items-center justify-content-between g-mb-20">
            <a class="d-flex align-items-center u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="#">
                <span class="u-icon-v3 u-icon-size--xs u-shadow-v25 g-font-size-12 g-bg-lightred g-bg-lightred--hover g-color-white rounded-circle g-mr-10" href="#">
                    <i class="fa fa-google-plus"></i>
                </span>
                Add to Circle
            </a>
            <span class="js-counter d-block g-color-gray-dark-v4">47192</span>
        </li>
        <li class="d-flex align-items-center justify-content-between g-mb-20">
            <a class="d-flex align-items-center u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="#">
                <span class="u-icon-v3 u-icon-size--xs u-shadow-v25 g-font-size-12 g-bg-instagram g-bg-instagram--hover g-color-white rounded-circle g-mr-10" href="#">
                    <i class="fa fa-instagram"></i>
                </span>
                Follow Us
            </a>
            <span class="js-counter d-block g-color-gray-dark-v4">38291</span>
        </li>
        <li class="d-flex align-items-center justify-content-between g-mb-20">
            <a class="d-flex align-items-center u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="#">
                <span class="u-icon-v3 u-icon-size--xs u-shadow-v25 g-font-size-12 g-bg-teal g-bg-teal--hover g-color-white rounded-circle g-mr-10" href="#">
                    <i class="fa fa-medium"></i>
                </span>
                Writers
            </a>
            <span class="js-counter d-block g-color-gray-dark-v4">23871</span>
        </li>
        <li class="d-flex align-items-center justify-content-between">
            <a class="d-flex align-items-center u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="#">
                <span class="u-icon-v3 u-icon-size--xs u-shadow-v25 g-font-size-12 g-bg-twitter g-bg-twitter--hover g-color-white rounded-circle g-mr-10" href="#">
                    <i class="fa fa-twitter"></i>
                </span>
                Follow Us
            </a>
            <span class="js-counter d-block g-color-gray-dark-v4">391743</span>
        </li>
    </ul>
</div>