<ul class="list-inline mb-0">
    <li class="list-inline-item g-mx-2">
        <a class="u-icon-v2 u-icon-size--sm g-brd-secondary-light-v2 g-color-secondary-dark-v2 g-color-white--hover g-bg-primary--hover g-font-size-default rounded" href="#"
           data-toggle="tooltip"
           data-placement="top"
           title="Like Us on Facebook">
            <i class="fa fa-facebook"></i>
        </a>
    </li>
    <li class="list-inline-item g-mx-2">
        <a class="u-icon-v2 u-icon-size--sm g-brd-secondary-light-v2 g-color-secondary-dark-v2 g-color-white--hover g-bg-primary--hover g-font-size-default rounded" href="#"
           data-toggle="tooltip"
           data-placement="top"
           title="Follow Us on Twitter">
            <i class="fa fa-twitter"></i>
        </a>
    </li>
    <li class="list-inline-item g-mx-2">
        <a class="u-icon-v2 u-icon-size--sm g-brd-secondary-light-v2 g-color-secondary-dark-v2 g-color-white--hover g-bg-primary--hover g-font-size-default rounded" href="#"
           data-toggle="tooltip"
           data-placement="top"
           title="Join Our Cirlce on Google Plus">
            <i class="fa fa-google-plus"></i>
        </a>
    </li>
    <li class="list-inline-item g-mx-2">
        <a class="u-icon-v2 u-icon-size--sm g-brd-secondary-light-v2 g-color-secondary-dark-v2 g-color-white--hover g-bg-primary--hover g-font-size-default rounded" href="#"
           data-toggle="tooltip"
           data-placement="top"
           title="Subscribe to Our YouTube Channel">
            <i class="fa fa-youtube"></i>
        </a>
    </li>
    <li class="list-inline-item g-mx-2">
        <a class="u-icon-v2 u-icon-size--sm g-brd-secondary-light-v2 g-color-secondary-dark-v2 g-color-white--hover g-bg-primary--hover g-font-size-default rounded" href="#"
           data-toggle="tooltip"
           data-placement="top"
           title="Follow Us on Instagram">
            <i class="fa fa-instagram"></i>
        </a>
    </li>
    <li class="list-inline-item g-mx-2">
        <a class="u-icon-v2 u-icon-size--sm g-brd-secondary-light-v2 g-color-secondary-dark-v2 g-color-white--hover g-bg-primary--hover g-font-size-default rounded" href="#"
           data-toggle="tooltip"
           data-placement="top"
           title="RSS">
            <i class="fa fa-rss"></i>
        </a>
    </li>
</ul>