<form class="input-group rounded">
    <input class="form-control g-brd-secondary-light-v2 g-color-secondary-dark-v1 g-placeholder-secondary-dark-v1 g-bg-secondary-light-v3 g-font-weight-400 g-font-size-13 g-px-20 g-py-12" type="email" placeholder="Enter your email address">
    <span class="input-group-append g-brd-none g-py-0 g-pr-0">
        <button class="btn u-btn-white g-color-primary--hover g-font-weight-600 g-font-size-13 text-uppercase g-py-12 g-px-20" type="submit">Subscribe</button>
    </span>
</form>