@page "/books"
@inject HttpClient Http

<PageTitle>Books</PageTitle>

<section class="g-py-30">
    <div class="container">
        <h1>Books</h1>

        @if(Authors is null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var author in Authors)
            {
                <h3>@author.FirstName @author.LastName </h3>
            }
        }
    </div>
</section>